flow/flow.json
[
  {
    "id": "mqtt-in",
    "type": "mqtt in",
    "z": "main",
    "name": "",
    "topic": "wokwi/sensors/data",
    "qos": "0",
    "datatype": "auto",
    "broker": "mqtt-broker",
    "nl": false,
    "rap": true,
    "rh": 0,
    "x": 150,
    "y": 100,
    "wires": [["json-parse"]]
  },
  {
    "id": "json-parse",
    "type": "json",
    "z": "main",
    "name": "Parse JSON",
    "property": "payload",
    "action": "",
    "pretty": false,
    "x": 320,
    "y": 100,
    "wires": [["temperature", "humidity", "light", "chart"]]
  },
  {
    "id": "temperature",
    "type": "ui_gauge",
    "z": "main",
    "name": "Temperature",
    "group": "dashboard-group",
    "order": 0,
    "width": 4,
    "height": 3,
    "gtype": "gage",
    "title": "Temperature (°C)",
    "label": "°C",
    "format": "{{value}}",
    "min": 0,
    "max": 50,
    "colors": ["#00b500", "#e6e600", "#ca3838"],
    "x": 520,
    "y": 60,
    "wires": [],
    "property": "payload.temp"
  },
  {
    "id": "humidity",
    "type": "ui_gauge",
    "z": "main",
    "name": "Humidity",
    "group": "dashboard-group",
    "order": 1,
    "width": 4,
    "height": 3,
    "gtype": "gage",
    "title": "Humidity (%)",
    "label": "%",
    "format": "{{value}}",
    "min": 0,
    "max": 100,
    "colors": ["#00b500", "#e6e600", "#ca3838"],
    "x": 530,
    "y": 100,
    "wires": [],
    "property": "payload.humidity"
  },
  {
    "id": "light",
    "type": "ui_gauge",
    "z": "main",
    "name": "Light Intensity",
    "group": "dashboard-group",
    "order": 2,
    "width": 4,
    "height": 3,
    "gtype": "gage",
    "title": "Light Intensity",
    "label": "",
    "format": "{{value}}",
    "min": 0,
    "max": 4095,
    "colors": ["#f1c40f", "#f39c12", "#e74c3c"],
    "x": 560,
    "y": 140,
    "wires": [],
    "property": "payload.light_intensity"
  },
  {
    "id": "chart",
    "type": "ui_chart",
    "z": "main",
    "name": "Temp Chart",
    "group": "dashboard-group",
    "order": 3,
    "width": 6,
    "height": 4,
    "label": "Temperature Over Time",
    "chartType": "line",
    "legend": "false",
    "xformat": "HH:mm:ss",
    "interpolate": "linear",
    "nodata": "",
    "ymin": "0",
    "ymax": "50",
    "removeOlder": "10",
    "removeOlderPoints": "",
    "removeOlderUnit": "60",
    "cutout": 0,
    "useOneColor": false,
    "colors": ["#ff6600"],
    "x": 550,
    "y": 180,
    "wires": [[]]
  },
  {
    "id": "mqtt-broker",
    "type": "mqtt-broker",
    "name": "Mosquitto",
    "broker": "test.mosquitto.org",
    "port": "1883",
    "clientid": "",
    "usetls": false,
    "protocolVersion": "4",
    "keepalive": "60",
    "cleansession": true,
    "birthTopic": "",
    "birthQos": "0",
    "birthRetain": "false",
    "birthPayload": "",
    "closeTopic": "",
    "closePayload": "",
    "willTopic": "",
    "willQos": "0",
    "willPayload": ""
  },
  {
    "id": "dashboard-group",
    "type": "ui_group",
    "name": "Sensor Dashboard",
    "tab": "dashboard-tab",
    "order": 1,
    "disp": true,
    "width": 6
  },
  {
    "id": "dashboard-tab",
    "type": "ui_tab",
    "name": "ESP32 Monitor",
    "icon": "dashboard",
    "order": 1
  }
]
